.user{
    margin: 0;
    display: flex;
    width: 180px;
    height: 50px;
    color: #fff;
    align-items: center;
    gap: 15px;
}

.user p{
    position: relative;
    bottom: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

.user img{
    width: 50px;
}
